<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     th:fragment="navbar">

    <div class="container-fluid">

        <a class="navbar-brand" href="/">
            📚 Library Management
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">

                    <a class="nav-link"
                       href="/">

                        Dashboard

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/books">

                        Books

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/authors">

                        Authors

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/categories">

                        Categories

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/publishers">

                        Publishers

                    </a>

                </li>

                <li class="nav-item">

                    <a class="nav-link"
                       href="/borrows">

                        Borrows

                    </a>

                </li>

                <li class="nav-item"
                    sec:authorize="hasRole('ADMIN')">

                    <a class="nav-link"
                       href="/users">

                        Users

                    </a>

                </li>

            </ul>

            <span class="navbar-text me-3">

                Welcome,
                <span sec:authentication="principal.fullName"></span>

            </span>

            <form th:action="@{/logout}"
                  method="post">

                <button class="btn btn-outline-light">

                    Logout

                </button>

            </form>

        </div>

    </div>

</nav>

</body>

</html>