.select2-container {
    flex: 1 1 auto;
    width: 1% !important;
}


.select2-container .select2-selection--single {

    height: 38px;

    border: 1px solid #dee2e6;

    border-radius: 0.375rem;

}


.select2-selection__rendered {

    line-height: 38px !important;

}


.select2-selection__arrow {

    height: 38px !important;

}

.book-form {
    padding-bottom: 150px;
}

.select2-container--default 
.select2-dropdown {

    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);

}

.select2-container--default 
.select2-search--dropdown 
.select2-search__field {

    height: 38px;

    border: 1px solid #ced4da;

    border-radius: 0.375rem;

    padding: 0.375rem 0.75rem;

    font-size: 0.95rem;

}

.select2-container--default 
.select2-search--dropdown 
.select2-search__field:focus {

    border-color: #86b7fe;

    outline: 0;

    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);

}

.select2-container--default 
.select2-results__option {

    padding: 10px 12px;

    font-size: 0.95rem;

}

.select2-container--default 
.select2-results__option[aria-selected="true"] {

    background-color:#e9ecef;

    color:#212529;

}

.select2-container--open 
.select2-dropdown {

    margin-top:5px;

}