<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Borrow Form</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>


<body>


<div class="container mt-5">


<h2>Borrow Book</h2>

<div th:if="${error}" class="alert alert-danger">
    <span th:text="${error}"></span>
</div>

<form th:action="@{/borrows/save}" 
      th:object="${borrow}" 
      method="post">

<input type="hidden"
       th:field="*{id}">

<div class="mb-3">

<label>User</label>

<select class="form-select"
        th:field="*{userId}" th:disabled="${editMode}">


<option value="">
Select User
</option>


<option th:each="user:${users}"
        th:value="${user.id}"
        th:text="${user.fullname}">
</option>


</select>
<input type="hidden"
       th:if="${editMode}"
       th:field="*{userId}">

</div>



<div class="mb-3">

<label>Book</label>

<select class="form-select"
        th:field="*{bookId}"  th:disabled="${editMode}">


<option value="">
Select Book
</option>


<option th:each="book:${books}"
        th:value="${book.id}"
        th:text="${book.title}">
</option>


</select>
<input type="hidden"
       th:if="${editMode}"
       th:field="*{bookId}">

</div>



<div class="mb-3">

<label>Borrow Date</label>

<input type="date"
       class="form-control"
       th:field="*{borrowDate}">

</div>



<div class="mb-3">

<label>Due Date</label>

<input type="date"
       class="form-control"
       th:field="*{dueDate}">

</div>

<div class="mb-3">

<label>Return Date</label>

<input type="date"
class="form-control"
       th:field="*{returnDate}"
       th:disabled="${!returned}">

</div>

<button type="submit" class="btn btn-success">

Save

</button>
<a href="/borrows" class="btn btn-secondary">
            Back
        </a>

</form>


</div>


</body>

</html>