<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Categories</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="container mt-5">

    <h2>Categories</h2>

    <table class="table table-bordered">

        <thead>

        <tr>

            <th>ID</th>

            <th>Name</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each="category : ${categories}">

            <td th:text="${category.id}"></td>

            <td th:text="${category.name}"></td>

        </tr>

        </tbody>

    </table>

</div>

</body>

</html>