<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Categories</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <div class="container mt-5">

        <h2>Categories</h2>
        <a href="/" class="btn btn-secondary mb-3">Home</a>
        <a href="/categories/new" class="btn btn-primary mb-3">
            Add Category
        </a>
        <table class="table table-bordered">

            <thead>

                <tr>

                    <th>ID</th>

                    <th>Name</th>

                </tr>

            </thead>

            <tbody>

                <tr th:each="category : ${categories}">

                    <td th:text="${category.id}"></td>

                    <td th:text="${category.name}"></td>
                    <td>
                        <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-warning btn-sm">
                            Edit
                        </a>
                        <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger btn-sm"
                            onclick="return confirm('Are you sure you want to delete this category?');">
                            Delete
                        </a>
                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</body>

</html>