<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library Management</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

   <nav class="navbar navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/">
            Library Management
        </a>

        <form th:action="@{/logout}" method="post">

            <button class="btn btn-outline-light"
                    type="submit">

                Logout

            </button>

        </form>

    </div>

</nav>

</nav>

    <div class="list-group">

        <a href="/books" class="list-group-item list-group-item-action">
            📚 Books
        </a>

        <a href="/authors" class="list-group-item list-group-item-action">
            ✍ Authors
        </a>

        <a href="/categories" class="list-group-item list-group-item-action">
            📂 Categories
        </a>

        <a href="/publishers" class="list-group-item list-group-item-action">
            🏢 Publishers
        </a>

        <a href="/borrows" class="list-group-item list-group-item-action">
            📋 Borrows
        </a>

    </div>

</div>

</body>
</html>